build
.DS_Store
*~
*.pdf
CMakeCache.txt
CMakeFiles
Makefile
camtest
cmake_install.cmake
libapriltags.a
make_conveyor_label
maketags
quadtest
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
tagtest

